body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}


table {
    width: 100%;
    border-collapse: collapse;
    color: balck;
    border: 1px solid #000;
    }
    th,
    td {
      padding: 8px;
      text-align: center;
        border: 1px solid #000;
    }
    th {
      background-color: #000000;
    }
    .datos-generales {
      background-color: #fdc1f8;
      color: rgb(0, 0, 0);
    }
    .indicadoresG {
      background-color: #ffc77e;
      color: rgb(0, 0, 0);
    }
    .indicadoresO {
      background-color: #91ffbf;
      color: rgb(0, 0, 0);
    }
    .indicadoresC {
      background-color: #7fb6ff;
      color: rgb(0, 0, 0);
    }

    td {
      text-align: left;
    }
    select {
      margin-bottom: 10px;
      margin-top: 10px;
      font-family: cursive, sans-serif;
      outline: 0;
      background: #2ecc71;
      color: #fff;
      border: 1px solid crimson;
      padding: 4px;
      border-radius: 9px;
    }
    .tabla-container {
        max-height: 600px; /* Altura máxima de la tabla */
        overflow-y: auto; /* Hacer que la tabla sea desplazable verticalmente */
    }